.App {
  text-align: center;
}

.expand-cell,
.expand-cell-header,
.sortable {
  cursor: pointer !important;
}

td {
  text-align: center;
}

#modules > tbody > tr > td {
  text-align: left !important;
}

#modules {
  border: 1px solid #dee2e6;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedButton {
  border-color: black !important;
  border-width: 4px;
  color: black !important;
}

html,
body {
  margin: 0;
  /* height: 100%;
  min-height: 100%; */
  background-color: #121212 !important;
}

main {
  margin-top: 80px;
  height: 100%;
}

footer > .MuiContainer-root {
  margin-left: 8%;
}

@media all and (max-width: 700px) and (min-width: 300px) {
  .col-lg-1 {
    display: none;
  }

  .col-lg-10 {
    width: 100% !important;
    max-width: 100% !important;
  }
}

#content-wrap > .row {
  margin-left: '0px';
  margin-right: 0%;
}

#login-container {
  position: relative;
  min-height: 70vh;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.navbar > .container {
  max-width: 85% !important;
}

.card {
  border: 0px;
}

.caret {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}
.caret:before,
.caret:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.caret:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.caret:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

a:hover {
  cursor: pointer;
}
