.App {
  text-align: center;
}

p > img {
  height: 20rem !important;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
}

.footer {
  position: relative;
  width: 100%;
  line-height: 46px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-form {
  border: 1px solid grey !important;
  padding: 15px;
  border-radius: 10px;
}

.show.react-bs-table-sizePerPage-dropdown ul:last-child {
  display: block;
}

#paging {
  float: left;
}

#nodata {
  height: 256px !important;
}

.react-bs-table-sizePerPage-dropdown,
.react-bootstrap-table-pagination-total {
  float: left;
  margin-left: 10px;
}

.expand-cell,
.expand-cell-header,
.sortable {
  cursor: pointer !important;
}

td {
  text-align: center;
}

#modules > tbody > tr > td {
  text-align: left !important;
}

#modules {
  border: 1px solid #dee2e6;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.__react_component_tooltip {
  background-color: #014379 !important;
  opacity: 1 !important;
  max-width: 500px !important;
  padding: 20px !important;
  color: #fff !important;
  font-weight: bold !important;
  text-align: left !important;
  border-radius: 0.25rem !important;
  font-size: 0.9rem !important;
}

.timefilter {
  font-size: 0.7rem !important;
}

.selectedButton {
  border-color: #007bff !important;
  border-width: 4px;
  color: #007bff !important;
}

.defaultButton {
  border-color: #6c757d !important;
  border-width: 4px;
  color: #6c757d !important;
}

html,
body {
  margin: 0;
  /* height: 100%;
  min-height: 100%; */
  /* background-color: #121212 !important; */
  font-size: 1rem;
  display: grid;
  min-height: 100vh;
}

#config > .react-codemirror2 > .CodeMirror {
  height: 500px !important;
}

@media all and (max-width: 700px) and (min-width: 300px) {
  .col-lg-1 {
    display: none;
  }

  .col-lg-10 {
    width: 100% !important;
    max-width: 100% !important;
  }
}

#content-wrap {
  min-height: calc(87vh - 70px);
}

#content-wrap > .row {
  margin-right: 0%;
}

.layout > .container {
  margin-bottom: 40px;
}

.navbar {
  min-height: 60px;
}

.material-button:hover,
.material-button:focus {
  background-color: #007bff !important;
}

.material-button {
  color: white !important;
  background-color: #007bff !important;
}

main {
  min-height: calc(87vh - 80px);
}

.main-container {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: calc(87vh - 80px);
}

.main-container > .container {
  padding-top: 40px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-top: 40px;
}

.navbar > .container {
  max-width: 85% !important;
}

.caret {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}
.caret:before,
.caret:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.caret:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.caret:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

a:hover {
  cursor: pointer;
}

.menu-item > a {
  color: gray;
  font-size: 18px;
}

.menu-item > a:hover {
  color: white;
}

.menu-item > div > a {
  color: gray;
  font-size: 18px;
}

.menu-item > div > a:hover {
  color: white;
}

.menu-item {
  padding-bottom: 2rem;
}

.bm-menu-wrap {
  width: 250px !important;
}

.nav-item > a:hover {
  text-decoration: none !important;
}

.nav-link:hover {
  cursor: pointer;
}

.highlight-row {
  background-color: gold !important;
}

div[role='dialog'] {
  max-width: 1000px !important;
  width: 90%;
}
